.form {
  text-align: right;
  margin-bottom: 50px;
}

.input {
  padding: 5px;
}

.button {
  padding: 5px 10px;
}

.table {
  width: 100%;
}

table,
tr,
td,
th {
  border: 1px black solid;
  border-collapse: collapse;
}

.paginator {
  margin: 50px auto;
}

.page {
  border: black 1px solid;
  padding: 5px 10px;
  cursor: pointer;
  color: #0000EE;
  background-color: white;
}

.activ-page {
  border: black 1px solid;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #0000EE;
  color: white;
}
